/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*=========================== HOMEPAGE ===========================*/
* {
  outline: dotted red;
}


/*--- header/footer ---*/

header,
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
}

header {
  padding: 15px 0;
}

header nav ul {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  list-style: none;
}

header .content-wrapper {
  width: 60%;
}


/*--- Main section - hero area ---*/

.hero-area h1 {
  display: flex;
  text-align: left;
  align-items: center;
  padding-left: 20px;
}

/*--- Aside ---*/

aside .content-wrapper article {
  display:flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
}

aside {
  padding: 32px 20px 53px 20px;
  width: 90%;
}

aside .form input {
  width: 100%;

}

/*--- Features ---*/

.features {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 20px;
  flex-flow: column wrap; 
}

.features article {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 54%;
  padding: 50px 0px;
  text-align: center;
}

.reviews h2 {
  width: 100%;
  margin-left: 0px;
  
}

.reviews {
  display: flex;
  align-items: center;
  margin: 0px 20px;
  flex-flow: column wrap;
  justify-content: flex-start;
  padding: 55px 0px 50px 0px;
}

/*--- Footer - social icons ---*/

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.footer-content {
  text-align: center;
  width: 55%;
  margin: 50px 0;
}

/*=========================================================
  FAQ
  =========================================================*/

  .faqs {
    display: flex;
    align-items: center;
    
    flex-flow: row wrap;  
    margin: 0px 20px;
    width: 95%;
    
  }

  .faqs .questions {
    width: 100%;
    margin: 0 0px;
    padding-bottom: 53px;
  }
/*=========================================================
  ABOUT
  =========================================================*/

  .mission-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: row wrap;
  }

  .mission {
    margin: 0px 20px;
  }

  .mission h1 {
    width: 90%;

  }
  .map {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contact-section .contact-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: row wrap;
  }

  .contact-section {
    margin: 0px 20px;
  }

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 768px) {
  /* Tablet styles */
  
/*================================================
               HOMEPAGE
  ================================================*/


  header {
    display: flex;
    width: 85%;
    margin: 0px 52px;
    
  }
  
  header .content-wrapper {
    display: flex;    
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
  }

  header nav {
    width: 25%;
}

  header nav ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    
  }

  main {
    width: 85%;
    margin: 0px 52px;
  }

  main .hero-area h1 {
    padding-left: 0;
    width: 100%;
  }


  aside {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    
  }

  aside .form-description {
    width: 45%;
    padding: 50px 0 70px 0;
    
  }

  aside .form {
    width: 45%;
    padding-top: 50px;
  }

  .form-description {
    margin-left: 0;
  }

  .features {
    display: flex;
    flex-flow: row wrap;
    max-width: 100%;
    padding: 100px 52px 90px 52px;
  }

  .features article {
    width: 50%;
  }

  .reviews {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;   
  }

  .reviews img, 
  .reviews article {
    width: 48%;
  }

  footer {
    max-width: 85%;
    margin: 0px 52px;
  }

  footer .footer-content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    width: 100%;
  }

  .footer-content .contact,
  .footer-content .social {
    width: 40%;
  }

/*========================================================
                     FAQ - tablet styles
  ========================================================*/

  .faqs {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    margin: 100px 0;
  }

  .faq-header {
    width: 100%;
  }

  .faqs .questions {
    width: 40%;
  }

/*========================================================
                     FAQ - tablet styles
  ========================================================*/

  .mission {
    margin: 100px 0px;
    max-width: 100%;
    padding: 0;
    
  }

  .mission-content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
    margin: 0;
  }

  .mission-content .detailed-mission1,
  .mission-content .detailed-mission2 {
    width: 45%;
    margin: 0px;
    padding: 0px;
    
  }

  .contact-section {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    width: 100%;
  }

  .contact-section h2 {
    width: 100%;
  }

  .general-contact,
  .facilitator-contact {
    width: 45%;
  }




} 


/*--------------------------------------------------*/

@media only screen and (min-width: 1200px) {
  /* desktop styles */
  
/*================================================
               HOMEPAGE
  ================================================*/

  header {
    display: flex;
    max-width: 80%;
    margin: 0px 100px;
  }
  
  header .content-wrapper {
    display: flex;    
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;   
  }

  header nav {
    width: 25%;
}

  header nav ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;   
  }

  main {
    max-width: 80%;
    margin: 0px 100px;
  }

  main .hero-area h1 {
    padding-left: 0;
    width: 100%;
  }


  aside {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    padding: 0;   
  }

  aside .form-description {
    width: 35%;
    padding: 50px 65px 50px 65px;   
  }

  aside .form {
    width: 35%;
    padding: 50px 65px 50px 65px;
  }

  .form-description {
    margin-left: 0;
  }

  .features {
    display: flex;
    flex-flow: row wrap;
    max-width: 100%;
    padding: 100px 100px 90px 100px;
  }

  .features article {
    width: 30%;
  }

  .reviews {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;   
  }

  .reviews img, 
  .reviews article {
    width: 48%;
  }

  footer {
    max-width: 80%;
    margin: 0px 100px;
}

  footer .footer-content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    max-width: 100%;
    padding: 0px;    
}

  .footer-content .contact,
  .footer-content .social {
    width: 40%;
    margin: 0;
  }

/*========================================================
                     FAQ - desktop styles
  ========================================================*/

  .faqs {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    margin: 100px 0px;
  }

  .faq-header {
    width: 100%;
  }

  .faqs .questions {
    width: 40%;
  }

/*========================================================
                     FAQ - tablet styles
  ========================================================*/

  .mission {
    margin: 100px 0px;
    max-width: 100%;
    padding: 0;
    
  }

  .mission-content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
    margin: 0;
  }

  .mission-content .detailed-mission1,
  .mission-content .detailed-mission2 {
    width: 45%;
    margin: 0px;
    padding: 0px;
    
  }

  .contact-section {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    width: 100%;
  }

  .contact-section h2 {
    width: 100%;
  }

  .general-contact,
  .facilitator-contact {
    width: 45%;
  }
  
} 

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

