/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*========================= General styles ===========================*/


body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  min-width: 100%;
  padding: 0;
  margin: 0;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 2.5em;
  line-height: 55px;
  color: #e2e3ed;
  font-weight: normal;
}

h3, 
h4 {
  font-family: 'Poppins', sans-serif;
}

h4  {
  font-size: 1.875em;
  color: #f1f2f2;
  font-weight: normal;
}

h3 {
  font-size: 1.5em;
  font-weight: normal;
  color: #e2e3ed;
}

html {
  font-size: 16px;
}

a {
  color: #e2e3ed;
  text-decoration: none;
}

address {
  font-style: normal;
}

p {
  color: #e2e3ed;
  font-size: 1.17em;
}

img { 
	width: 100%;
}
 
figure {
        margin: 0;
}



/*=========================== HOMEPAGE ===========================*/
/* {
  outline: dotted red;  
} */


/*--- header/footer ---*/

header,
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  background-color: #202322;
  
}

header {
  padding: 15px 0;
  margin: 0px;
  width: 100%;
  
}

header figure {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.header-divider {
  width: 100%;
  height: 1px;
  margin: 10px 0 20px 0;
}

header nav {
  width: 45%;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  list-style: none;
  font-size: 1.33em;
  font-weight: bold;
  width: 100%;
  margin: 0;
  padding: 0;
}



header .content-wrapper {
  width: 90%;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}


/*--- Main section - hero area ---*/

.hero-area h1 {
  text-align: left;
  padding-left: 20px;
  color: #e2e3ed;
  font-size: 3em;
  margin-top: 100px;
  max-width: 80%;
}

.hero-area {
  background: url("../img/jake-melara-30679-unsplash.jpg") center #333;
  background-size: cover;
  display: flex;
  flex-flow: row wrap; 
  height: 500px;
}

/*--- Aside ---*/

main {
  background-color: #527158;
  width: 100%; 
}

aside {
  display:flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  padding: 32px 20px 53px 20px;
  width: 90%;
  color: #bcc5c5;
  font-size: 1.2em;
}


aside .form {
  margin-top: 10px;
  width: 100%;
}
 
input[type=text] {
  box-sizing: border-box;
  width: 100%;
  color: #2a423a;
  font-style: italic;
  padding: 1em;
}
 
input[type=button] {
  width: 100%;
  padding: 20px 0;
  margin-top: 20px;
  background-color: #2a423a;
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 1.125em;
  color: #e2e3ed;
  border: none;
  text-align: center;
  text-transform: uppercase;
}


/*--- Features ---*/

.features {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
  padding-left: 20px;
  padding-right: 20px;
  flex-flow: column wrap;
  width: 100%;
  box-sizing: border-box;
  background: url("../img/rawpixel-800820-unsplash1.jpg") center no-repeat #333; 
  background-size: cover;
}

.features h2 {
  width: 100%;
  margin-left: 0;
}


.features article {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 54%;
  padding: 50px 0px;
  text-align: center;
  font: normal 1.17em;
  color: #e1e2ea;
  flex-flow: column nowrap;
}

.features i {
	font-size: 3.75em;
  margin-bottom: 40px;
}

.reviews h2 {
  width: 100%;
  margin-left: 0px;  
}

.reviews {
  display: flex;
  align-items: center;
  margin: 0px 20px;
  flex-flow: column wrap;
  justify-content: flex-start;
  padding: 55px 0px 50px 0px;
  color: #e2e3ed;
  font-size: 1.17em;
}

/*--- Footer - social icons ---*/

.social-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap; 
}

.social-icons p a {
  color: #e2e3ed;
  font-size: 1.5em;
  
}

.social-icons p {
  background-color: #527158;
  border-radius: 50%;
  width: 2.25em;
  height: 2.25em;
}
.footer-content {
  text-align: center;
  width: 55%;
  margin: 50px 0;
  color: #eaeaea;
}

.copyright {
  color: #f5f5f5;
  font-size: 1.167em;
}

/*=========================================================
  FAQ
  =========================================================*/

  .faqs {
    display: flex;
    align-items: center;
    flex-flow: row wrap;  
    width: 100%;
    box-sizing: border-box;
    padding: 0 2.19em;
  }

  .faq-header h2 {
    color: #e2e3ed;
    min-width: 100%;
    
  }

  .questions h4 {
    color: #e2e3ed;
    font-weight: normal;
  }

  .faqs .questions {
    width: 100%;
    padding-bottom: 53px;
  }

/*=========================================================
  ABOUT
  =========================================================*/

  .mission {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    padding: 5em 2.19em;
    box-sizing: border-box;
  }  

  .mission h2 {
    margin-top: 0;
  }

  

  .contact-section .contact-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: column nowrap;
    
  }

  .contact-section {
    padding: 5em 2.19em;
    margin-bottom: 0;
  }

  .facilitator-contact p {
    margin-bottom: 0;
  }

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 768px) {
  /* Tablet styles */
  
/*================================================
               HOMEPAGE
  ================================================*/
  html, body {
    min-width: 100%;
    margin: 0px;
    padding: 0px;
  }
  
  header {
    width: 100%;
    margin: 0;
    
  }

  header .content-wrapper {
    display: flex;    
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-left: 70px;
    padding-right: 70px;
    box-sizing: border-box;  
  }

  header nav {
    width: 35%;
  }

  header nav ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 0;
  }

  main {
    width: 100%;
    margin-right: 0;
    margin-left: 0; 
  }

  main .hero-area {
    padding-left: 70px;
    padding-right: 70px;
  }

  main .hero-area h1 {
    width: 100%;
    padding: 0;
  }


  aside {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 100px;
  }

  aside .form-description {
    width: 40%;
    padding: 60px 0px 75px 0px;
    margin-left: 70px;
    margin-right: 20px;
    height: 140px;
  }

  aside .form {
    width: 40%;
    padding: 30px 0px 50px 0px;
    margin-right: 70px;
    margin-left: 20px;
    height: 140px;
  }

  main .features {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    padding: 100px 0px 90px 0px;
    margin-right: 70px;
    margin-left: 0px; 
  }

  .features h2 {
    margin-left: 70px;
    margin-right: 70px;
  }

  .features article {
    width: 13.3em;
    margin-right: 50px;
    margin-left: 50px;
    padding-left: 0px;
    padding-right: 0px;
   
  }

  .reviews {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-left: 70px;
    margin-right: 70px;      
  }

  .review-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0;  
  }

  .review-wrapper figure {
    width: 49%;
    padding: 0; 
  }

  .detailed-review {
    width: 49%;
    padding-top: 0px;
    font-size: 0.8em;
    margin: 0;
  }
  
  .detailed-review h3 {
    font-size: 1.5em;
  }

  .detailed-review p {
    line-height: 1.25em;
  }

  footer {
    width: 100%;
    margin: 0px 0px;  
  }

  footer .footer-content {
    display: flex;
    width: 80%;
    margin-left: 100px;
    margin-right: 100px;
    flex-flow: row nowrap;
    justify-content: space-around;
  }

  .footer-content .contact,
  .footer-content .social {
    width: 40%;
  }

/*========================================================
                     FAQ - tablet styles
  ========================================================*/

  .faqs {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    padding: 100px 70px;
    
  }

  .faq-header {
    width: 100%;
  }

  .questions h4 {
    font-size: 1.17em;
    margin-top: 25px;
  }

  .faqs .questions {
    width: 45%;
    height: 200px;
    margin-bottom: 100px;
    box-sizing: border-box;
  }

  .questions p {
    margin-bottom: 0;
    height:fit-content;
  }

/*========================================================
                     ABOUT - tablet styles
  ========================================================*/

  .mission {
    margin: 0;
    max-width: 100%;
    padding: 100px 4.375em;
    box-sizing: border-box;
    
  }

  .mission-content {
    width: 100%;
    margin: 0px;  
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    
  }

 .mission h2 {
  width: 100%;
 }

  .mission-content .detailed-mission1,
  .mission-content .detailed-mission2 {
    width: 45%;
    margin: 0px;
    padding: 0px;  
  }

  .contact-section {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 5em 4.375em;
    box-sizing: border-box;
    margin: 0;
    width: 100%;
  }

  .contact-section h2 {
    width: 100%;
  }

  .general-contact,
  .facilitator-contact {
    width: 45%;
  }

} 


/*--------------------------------------------------*/

@media only screen and (min-width: 1200px) {
  /* desktop styles */
  
/*================================================
               HOMEPAGE
  ================================================*/

  html, body {
    min-width: 100%;
    margin: 0px;
    padding: 0;
  }

  header {
    width: 100%;
    margin: 0;
  }
  
  header .content-wrapper {
    display: flex;    
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;
    padding-left: 160px;
    padding-right: 160px;
    box-sizing: border-box;
  }

  header nav {
    width: 25%;
  
}

  header nav ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
    padding: 0;   
  }

  main {
    width: 100%;
    margin: 0px;
  }

  main .hero-area {
    width: 100%;
    margin: 0;
    padding-left: 160px;
    padding-right: 160px;
    box-sizing: border-box;
  }

  .hero-area h1 {
    padding: 0px;
    width: 100%; 
  }

  aside {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    justify-content: space-around;
    width: 100%;  
    padding-right: 0;
    padding-left: 0;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 150px;
    
  }

  aside .form-description {
    width: 33%;
    padding: 60px 0px 50px 0px;
    margin-left: 267px;
    height: 140px;;   
  }

  aside .form {
    width: 33%;
    padding: 50px 0px 50px 0px;
    margin-right: 267px;
    height: 140px;
  }


  .features {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    padding: 100px 160px 90px 160px;
  }

  .features h2 {
    width: 100%;
    margin-left: 160px;
    margin-right: 160px;
  }

  .features article {
    width: 20%;
    margin-left: 40px;
    margin-right: 40px;
  }

  .reviews {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-left: 70px;
    margin-right: 70px;      
  }

  .review-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0;  
  }

  .review-wrapper figure {
    width: 49%;
    padding: 0; 
  }

  .detailed-review {
    width: 49%;
    padding: 0px;
    font-size: 1.125em;
    margin: 0;
  }
  
  .detailed-review h3 {
    font-size: 2em;
  }

  .detailed-review p {
    line-height: 1.25em;
  }

  

  footer {
    width: 100%;   
 
}

  footer .footer-content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 70%;
    padding: 0px;
    margin-left: 160px;
    margin-right: 160px;    
}

  .footer-content .contact,
  .footer-content .social {
    width: 35%;
    margin: 0;
  }

/*========================================================
                     FAQ - desktop styles
  ========================================================*/

  .faqs {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    padding: 100px 160px;
  }

  .faq-header {
    width: 100%;
  }

  .questions h4 {
    font-size: 1.5em;
    margin-top: 25px;
  }

  .faqs .questions {
    width: 45%;
    height: 200px;
    margin-bottom: 100px;
    box-sizing: border-box;
  }

  .questions p {
    margin-bottom: 0;
    height: fit-content;
    font: 1.5em;
  }

/*========================================================
                     FAQ - tablet styles
  ========================================================*/

  .mission {
    margin: 0;
    max-width: 100%;
    padding: 100px 10em;
    box-sizing: border-box;
    
  }

  .mission-content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
    margin: 0;
  }

  .mission-content .detailed-mission1,
  .mission-content .detailed-mission2 {
    width: 45%;
    margin: 0px;
    padding: 0px; 
  }

 
  .contact-section {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 5em 10em;
    box-sizing: border-box;
    margin: 0;
    width: 100%;
  }

  .contact-section h2 {
    width: 100%;
  }

  .general-contact,
  .facilitator-contact {
    width: 45%;
  }

} 

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

